.chat-window-div{
  background-color: #ffffff;
}
.chat-history-div{
  height:450px;
}
.chat-history-div{
  overflow: auto;
  position: relative;
}
.developedBy{
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  font-size:12px;
}
.refresh-button.btn:hover {
  color: #ffffff !important;
}
.anonymous1{
  font-weight:500;
  color:purple;
}
.emojis-div{
  right:0;
  bottom:50px;
}
.spinner-p{
  position:absolute;
  left:50%;
  bottom: 65px;
}
.timestamp{
  font-size:10px;
  // color: rgba(72, 90, 101, .6);
  margin-left:33px;
  margin-top:2px;
}
.message-div{
  border:1px solid #dddddd;
  width:100%;
  border-radius: 10px 10px 10px 0;
}
.message-user-icon{
  font-size:24px;
}

.message-input-box{
  border:1px solid #0d6efd;
}

.message-input-box:focus{
  border:1px solid #dddddd;
}

//scrollbar

::-webkit-scrollbar {
  width: 5px;
  height: 1px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cfd1d5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BDBDBD;
}
