<section class="chat-window-section p-4">
  <div class="chat-window-div container">
    <div class="heading-div mt-2 mb-4">
      <h3 class="text-primary">Connect Hub</h3>
      <p class="developedBy">Designed and Developed by Praveen</p>
    </div>
    <div class="chat-history-div border mb-4 px-4 py-1" #chatHistoryDiv>
      <div *ngFor="let messages of allMessages">
        <p><span class="anonymous">< Ghost ></span> {{messages.message }}</p>
      </div>
    </div>
    <div class="send-div d-flex justify-content-end align-items-center">
      <form [formGroup]="messageForm" class="w-100">
        <div class="d-flex justify-content-end align-items-start">
          <div class="w-100 d-flex flex-column">
            <input class="message-input-box w-100 px-2 py-1" type="text" formControlName="message" [ngClass]="{ 'is-invalid': submitted && messageForm.get('message')?.invalid }" placeholder="Message">
            <!-- <div *ngIf="submitted && messageForm.get('message')?.invalid" class="invalid-feedback">
              <div *ngIf="submitted && messageForm.get('message')?.hasError('required')">
                <span class="text-success">Type something...</span>
              </div>
            </div> -->
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <button class="btn btn-info text-white mx-2 py-1 px-2" (click)="SendMesage()" ngbTooltip="Send"><i class="fa-solid fa-paper-plane"></i></button>
            <button class="refresh-button btn btn-outline-info py-1 px-2" (click)="receiveMessage()" ngbTooltip="Refresh"><i class="fa-solid fa-arrows-rotate"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
