.chat-history-div{
  height:450px;
}
.chat-history-div{
  overflow: auto;
}
.developedBy{
  font-size:12PX;
}
.refresh-button.btn:hover {
  color: #ffffff !important;
}
.anonymous1{
  font-weight:500;
  color:red;
}
